@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>This is a simple web app where a user can create multiple To Do Lists and add Tasks to each list.</p>
    <p>If you don't have an account, please create a new one by registering. If you do, please log in to see your To Do Lists or create a new one.</p>
</div>
